table{
    overflow: auto;
}

/*-------------------------
:: Scrollbar
-------------------------- */
/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.sidebar-search-input {
    width: 200px !important;
}

.sidebar-noti {
    top: 2px;
    border: 1px solid #FFF;
    font-size: 10px;
    background: #f44336;
    color: #FFFFFF;
    padding: 0px 5px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px; 
    display: block;
}

.td-icon {
    font-size: 30px !important;
}

.td-button {
    width: 30px;
}
.info-icon {
    font-size: 20px !important;
}
.chatroom-info-left{
    height: 0;
    text-align: left;
    color: black;
    font-size: 16px;
}

.message-body{
    position: relative;
    height: 80%;
    overflow: auto;
}
.message-body::-webkit-scrollbar {
    display: none;
}
.message-item{
    margin-bottom: 8px;
}
.message-item .col-1{
    padding: 1px 1px 1px 1px;
}
.message-left{
    text-align: left;
}
.message-right{
    text-align: right;
}
.message-time{
    text-align: right;
    font-size: 10px;
}

.message-body img{
    max-width:100%;
    max-height:100%;
}